body {
	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
	color: #00B7FF;
}

.review {
	padding-bottom: 5px;
}

.panel-body.review-container {
	padding-top:0;
}

.review-header {
	margin-bottom: 10px;
}

.reviewAuthor {
	margin: 0 5px;
}

.reviewTimestamp {
	color: #ccc;
}

.label-warning {
	 line-height: 2;
	 cursor: default;
	 -webkit-user-select: none;
}

.label-warning.main {
	margin: 0 2px;
}


.panel-title.reviews {
	line-height: 40px;
}
